/* Min Width 1400px */
@media only screen and (min-width:1400px){
    .mps-prev{
        right: 15%;
    }

    .single-property:hover .ppt-content{
        height: 28%;
    }
}

/* Max Width 1200px */
@media only screen and (max-width:1200px){

    .mps-prev{
        right: 20%;
    }
}

/* Max Width 991px */
@media only screen and (max-width:991px){

    .menu-left{
        display: none;
    }

    .subs-form input{
        width: 100%;
    }

    .subs-btn{
        width: 120px;
        margin-top: 16px;
        margin-left: 0 !important;
    }

    .about-img{
        width: 100%;
    }

    .about-us .about-content{
        position: relative;
        width: 100%;
        margin-top: 32px;
    }

    .sec-spacer-80{
        padding: 50px 0;
    }

    #about{
        padding-top: 50px;
    }
}

/* Max Width 767px */

@media only screen and (max-width:767px){

    .single-property .ppt-content{
        height: 37%;
    }

    .sm-slider{
        width: 0;
    }

    .lg-slider{
        width: 100%;
    }

    .mps-prev{
        right: 55%;
    }

    .mps-next{
        right: 35%;
    }
    
}

/* Max Width 575px */

@media only screen and (max-width:575px){

    .ds-header,
    .ds-header.sticky{
        padding: 8px 20px;
    }

    .ds-banner .swiper-slide{
        height: 400px;
    }

    .ds-banner .swiper-slide img{
        height: 400px;
    }
}

/* Max Width 480px */

@media only screen and (max-width:480px){

    .nav-close{
        position: relative;
        z-index: 10;
    }

    .nav-menu-wpr{
        grid-template-columns: 1fr;
    }

    .nav-image img{
        filter: brightness(30%)
    }

    .nav-menu{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .nav-menu li a{
        font-size: 2rem;
        padding: 16px 0;
    }

    .ds-main-nav .nav-menu{
        height: 100%;
        justify-content: center;
        margin-top: 50px;
    }

    .nav-menu-wpr{
        height: 100%;
        padding: 0;
    }
}

/* Max Width 414px */

@media only screen and (max-width:414px){

    .multi-px-slider {
        height: 70vh;
    }

    .swiper-pagination{
        bottom: 10%;
        left: 0;
    }

    .banner-social-links a{
        position: relative;
        top: -10px;
    }

    h4{
        font-size: 1.10rem;
    }

    .ds-footer .row div[class^="col-"]{
        width: 100%;
    }

    .ds-feature-property .sub-heading{
        display: block;
    }

    .properties .row div[class^="col-"]{
        width: 100%;
    }

    .single-property .ppt-content{
        height: 16%;
    }

    .heading-lg{
        font-size: 2.8rem;
    }

    .ds-contact .contact-heading{
        margin-bottom: 30px;
    }

    .gallery-content div[class^=col-]{
        width: 100%;
    }

}

/* Max Width 320px */

@media only screen and (max-width:320px){
    .mps-next{
        right: 30%;
    }
}