/* Max Width 1200px */
@media only screen and (max-width:1200px){

    .swiper-button-prev{
        right: 20%;
    }
}

/* Max Width 991px */
@media only screen and (max-width:991px){

    .subs-form input{
        width: 100%;
    }

    .subs-btn{
        width: 120px;
        margin-top: 16px;
        margin-left: 0 !important;
    }

    .about-img{
        width: 100%;
    }

    .about-us .about-content{
        position: relative;
        width: 100%;
        margin-top: 32px;
    }

    .sec-spacer-80{
        padding: 40px 0;
    }
}

/* Max Width 767px */

@media only screen and (max-width:767px){

    .single-property .ppt-content{
        height: 37%;
    }
}

/* Max Width 575px */

@media only screen and (max-width:575px){

    .ds-header,
    .ds-header.sticky{
        padding: 8px 20px;
    }

    .ds-banner .swiper-slide{
        height: 400px;
    }

    .ds-banner .swiper-slide img{
        height: 400px;
    }
}

/* Max Width 414px */

@media only screen and (max-width:414px){

    .ds-footer .row div[class^="col-"]{
        width: 100%;
    }

    .ds-feature-property .sub-heading{
        display: block;
    }
}